@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
// Fonts
$font-size-base: 15px;
$font-weight-base: 400;
$font-family-sans-serif: "Helvetica";
//Todo: Update Fonts
$font-family-base: "Helvetica", $font-family-sans-serif, sans-serif;
